.imageScore {
  width: 50%;
}

.imageScore img {
  width: 100%;
}

.games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.title {
  color: white;
}

.arrow-right {
  display: flex;
  justify-content: flex-end;
}

.arrow-btn {
  background: none;
  border: none;
}

.arrow {
  font-size: 1.5rem;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  height: 25vh;
}

.game p {
  text-align: end;
}

.game:nth-child(4n+2),
.game:nth-child(4n+3) {
  background: #4167aeff;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  color: white;
}
