.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  box-shadow: 0 0 10px darkgray;
}

.navbar p {
  font-size: 1.2rem;
  color: lightgray;
  font-weight: 100;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
